{% extends "base.html" %}

{% block title %}Kanji Games - Drawn Out (mode select){% endblock %}

{% block content %}
<a class="homeButton" href="/">
  <i class="fa fa-home" aria-hidden="true"></i>
</a>
<div class="modeHeader">Select Gamemode:</div>
<div id="modeContainer">
  <a style="text-decoration: none; display: inline-block;"href="/drawn-out/standard">
    <div class="modeButton fade-in-bottom">
      <p style="font-size: 5vh;">Standard</p>
      <hr style="width:80%">
      <p style="text-align: left;">I bet you would like to know what this game is going to be, saucy boy, but I ain't tellin</p>

    </div>
  </a>
</div>
{% endblock %}