{% extends "base.html" %}

{% block title %}Kanji Games - Drawn Out (Duel){% endblock %}

{% block content %}
<div id="gameField">
  <div id="playerArea"><span class="playerNameHeader" id="playerName">(You)</span><span class="playerScoreHeader hidden" id="playerScoreHeader">0</span></div>
  <div id="gameArea">
    <p id="countdownTimer" class="hidden"></p>
    <div class="answeredCorrectlyBanner" id="answeredCorrectlyBanner"><span id="answeredCorrectlyName"></span><span> answered correctly!</span></div>
    <div class="gameplayElement hidden" id="svgPadding"></div>
    <div class="gameplayElement hidden" id="svg-container" style="height: 20vw"></div>
    <input class="gameplayElement hidden" type="text" id="answer" name="answer" placeholder="答え" autocomplete="off">
  </div>
  <div id="opponentArea"><div class="opponentScoreHeader"><span class="playerScoreHeader hidden" id="opponentScoreHeader">0</span><span class="playerNameHeader" id="opponentName">Waiting...</span></div></div>
</div>
<div class="roomCreationContainer" id="roomCreationContainer">
  <div class="roomCreationBox">
    <p class="roomCreationBoxHeader nameCreationElement active">Pick a name:</p>
    <input class="roomCreationBoxInput nameCreationElement active" id="nameAnswer">
    <div class="roomCreationSettingsContainer nameCreationElement active">
      <div class="difficultySettingContainer">
        <p class="difficultySettingHeader">Difficulty:</p>
        <div class="difficultyButtonContainer">
          <div id="leftSelector"></div><div id="rightSelector"></div>
          <p class="difficultyButton"><span class="leftDifficultyArrow hiddenArrow" id="leftDifficultyArrow"><i class="fa fa-sort-up fa-rotate-270"></i></span> <span class="currentDifficulty" id="currentDifficulty">Easy</span> <span class="rightDifficultyArrow" id="rightDifficultyArrow"><i class="fa fa-sort-up fa-rotate-90"></i></span></p>
        </div>
      </div>
      <div class="scoreLimitSettingContainer">
        <p class="difficultySettingHeader">Score Limit:</p>
        <div class="difficultyButtonContainer">
          <div id="leftSelectorSL"></div><div id="rightSelectorSL"></div>
          <p class="difficultyButton"><span class="leftDifficultyArrow" id="leftScoreLimitArrow"><i class="fa fa-sort-up fa-rotate-270"></i></span> <span class="currentDifficulty" id="currentScoreLimit">10</span> <span class="rightDifficultyArrow" id="rightScoreLimitArrow"><i class="fa fa-sort-up fa-rotate-90"></i></span></p>
        </div>
      </div>
    </div>
    <button class="roomCreationBoxSubmit nameCreationElement active" id="nameAnswerButton">Next</button>
    <p class="roomCreationBoxHeader inviteInfoElement hidden">Invite a friend:</p>
    <button class="inviteLinkButton inviteInfoElement hidden" id="inviteLinkButton">Copy invite link</button>
    <p class="roomNumberInfoLine inviteInfoElement hidden">You are in room #<span id="roomNumber"></span></p>

  </div>
</div>
<div class="endGameDisplayContainer hidden" id="endGameDisplayContainer">
  <div class="endGameDisplayBox">
    <p class="endGameDisplayHeader" id="endGameDisplayHeader">You win.</p>
    <p class="playAgainHeader">Play Again?</p>
    <div class="endGameButtonContainer">
      <button id="duelAgain">Ready Up</button>
      <button id="duelExit">Quit</button>
    </div>
    
  </div>
</div>

<p class="disconnectElement hidden" id="disconnectHeader">Lost connection with opponent :(</p>
<p class="blockElement hidden" id="blockHeader">Unable to join room :(</p>
<a class="game-button fade-in-bottom disconnectElement blockElement hidden" style="width:30vw;margin: 10vh 35vw; display:block" href="/drawn-out/duel-select">Go back</a>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{url_for('static',filename='drawnOutDuel.js')}}"></script>
{% endblock %}