{% extends "base.html" %}

{% block title %}Kanji Games - Kanjitori (mode select){% endblock %}

{% block content %}
<a class="homeButton" href="/">
  <i class="fa fa-home" aria-hidden="true"></i>
</a>
<div class="modeHeader">Select Gamemode:</div>
<div id="modeContainer">
  <a style="text-decoration: none; display: inline-block;"href="/kanjitori/vs-cpu">
    <div class="modeButton fade-in-bottom">
      <p style="font-size: 5vh;">vs. CPU</p>
      <hr style="width:80%">
      <p style="text-align: left;">Answer with a jukugo starting with the final kanji in your opponents word before time runs out.</p>

    </div>
  </a>
  <a style="text-decoration: none; display: inline-block;"href="#">
    <div class="modeButton fade-in-bottom">
      <p style="font-size: 5vh;">vs. Friend(WIP)</p>
      <hr style="width:80%">
      <p style="text-align: left;">Play vs. your friends!</p>
  
    </div>
  </a>
</div>
{% endblock %}