{% extends "base.html" %}

{% block title %}Radical Rush{% endblock %}

{% block content %}

<p class="difficulty-header" id="diffh">Select difficulty:</p>
<div class="flex-container" style="margin-top:0px;" id="myContainer">
  <a class="game-button fade-in-bottom" href="#" onclick="makeGoAway(1)">Normal</a>
  <a class="game-button fade-in-bottom" href="#">Hard (Coming soon)</a>
  <a class="game-button fade-in-bottom" href="#">Coming not soon</a>
</div>
<div class="scoreCounter">
  <span>Correct: </span><span id="score">0</span><span>/??</span>
</div>
<div class="gameplayElement hidden" id="timer-container">
  <p id="timer">10</p>
</div>
<div class="gameplayElement hidden" id="radical-container">
  <p class="gameplayElement hidden" id="currRadical"></p>
  <input type="text" id="answer" name="answer" placeholder="答え">
</div>
<script>
  let temp = '{{componentsToKanji}}';
  let newtemp = temp.replace(/&#34;/g,'"');
  console.log(newtemp);
  let masterList=(JSON.parse(newtemp));

</script>
<script type="text/javascript" src="{{url_for('static',filename='radicalRush.js')}}"></script>

{% endblock %}