{% extends "base.html" %}

{% block title %}Kanji Games - Radical Rush Standard{% endblock %}

{% block content %}
<a class="homeButton active" href="/">
  <i class="fa fa-home" aria-hidden="true"></i>
</a>
<img class="imageMenuHeader" src="https://fontmeme.com/permalink/230422/a77901deff8c0f8c12380e5bab87b85c.png" alt="futuristic-fonts" border="0">
<div id="modeContainer">
  <a style="text-decoration: none; display: inline-block;"href="/radical-rush/standard">
    <div class="modeButton fade-in-bottom">
      <p style="font-size: 5vh; padding-top: 1vh;">Standard</p>
      <hr style="width:80%">
      <p style="text-align: left;">Answer with a kanji containing the provided component within the alloted time or lose a life!<br><br>Win by reaching the score limit before losing all 3 lives.<br><br>Answer "s" or press esc to skip<br><br>Components are not accepted as answers to themselves</p>

    </div>
  </a>
  <a style="text-decoration: none; display: inline-block;"href="/radical-rush/endless">
    <div class="modeButton fade-in-bottom">
      <p style="font-size: 5vh;padding-top: 1vh">Endless</p>
      <hr style="width:80%">
      <p style="text-align: left;">+ Up to 3 kanji can be given for each component<br><br>+Kanji can only be used <b>once</b> per game.<br><br>- Score limit removed</p>
      <p style="text-align: left;"></p>
  
    </div>
  </a>
</div>
{% endblock %}