{% extends "base.html" %}

{% block title %}Kanji Games - Radical Rush Standard{% endblock %}

{% block content %}
<a class="homeButton active" href="/">
  <i class="fa fa-home" aria-hidden="true"></i>
</a>
<div class="modeHeader">Select Gamemode:</div>
<div id="modeContainer">
  <a style="text-decoration: none; display: inline-block;"href="/radical-rush/standard">
    <div class="modeButton fade-in-bottom">
      <p style="font-size: 5vh;">Standard</p>
      <hr style="width:80%">
      <p style="text-align: left;">Answer with a kanji containing the provided component within the alloted time or lose a life!<br><br>Win by reaching the score limit before losing all 3 lives.</p>

    </div>
  </a>
  <a style="text-decoration: none; display: inline-block;"href="/radical-rush/endless">
    <div class="modeButton fade-in-bottom">
      <p style="font-size: 5vh;">Endless</p>
      <hr style="width:80%">
      <p style="text-align: left;">Answer with up to 3 kanji containing the provided component within the alloted time or lose a life! <br><br>Kanji can only be used <b>once</b> per game.<br><br>Get as many points as possible!</p>
      <p style="text-align: left;"></p>
  
    </div>
  </a>
</div>
{% endblock %}