
@-webkit-keyframes fade-in-bottom{0%{-webkit-transform:translateY(50px);transform:translateY(50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes fade-in-bottom{0%{-webkit-transform:translateY(50px);transform:translateY(50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}
.fade-in-bottom {
	-webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes shake-horizontal{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}10%,30%,50%,70%{-webkit-transform:translateX(-10px);transform:translateX(-10px)}20%,40%,60%{-webkit-transform:translateX(10px);transform:translateX(10px)}80%{-webkit-transform:translateX(8px);transform:translateX(8px)}90%{-webkit-transform:translateX(-8px);transform:translateX(-8px)}}@keyframes shake-horizontal{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}10%,30%,50%,70%{-webkit-transform:translateX(-10px);transform:translateX(-10px)}20%,40%,60%{-webkit-transform:translateX(10px);transform:translateX(10px)}80%{-webkit-transform:translateX(8px);transform:translateX(8px)}90%{-webkit-transform:translateX(-8px);transform:translateX(-8px)}}
.shake-horizontal {
	-webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
	        animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

body {
  background-color: #1e1d1e;

}

.modeHeader {
  text-align: center;
  width:100%;
  color: white;
  font-size: 10vh;
}

.modeButton {
  width:22vw;
  height: 60vh;
  margin: 0 3vw;
  border-radius: 10px;  
  background-color: white;
  color: black;
  font-size: 3vh;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.717);
}

.modeButton p {
  padding: 0 10%;
  margin:0;
  
}
#modeContainer {
  margin-top:3%;
  display:flex; 
  justify-content: center;
  text-align: center;
}
.difficulty-header{
  margin: 5% 0 0 25%;
  color:rgba(255, 255, 255, 0.763);
  font-size: 11vh;
  font-weight: bold;
  font-family: Arial;
  transition: opacity 750ms;

}

.flex-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 30%;
  transition: opacity 750ms;
  margin-top: 3%;
}
.game-button {
  background-color: rgba(255, 254, 254, 0.783);
  padding: 2vh 0 2vh 3vw;
  margin-bottom: 0;
  margin-top: 3%;
  font-weight: bold;
  font-family: Arial;
  text-decoration: none;
  border-radius: 10px;
  color:  #1e1d1e;
  font-size: 8vh;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.717);
}

.tooltip {
  border:solid white 3px;
  font-size: 4vh;
  border-radius: 10px;
  color:white;
  position: absolute;
  left: 71%;
  top: 30.5%;
  width: 25%;
  transition-property: opacity;
  transition-duration: 500ms;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.717);
}

.tooltip p {
  padding:5px 15px;
  margin: 0;
}
.game-button:hover {
  background-color: rgba(255, 255, 255, 0.989);
  cursor: pointer;
}
.game-button:hover + .tooltip{
  opacity: 1;
  visibility: visible;
  
}
.goAway {
  opacity: 0;
}

.gameplayElement {
  transition: opacity 2s;
}

.hidden {
  display:none !important;
  opacity: 0;
}

.active {
  opacity: 1;
}

.scoreCounter {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color:white;
  font-size: 5vh;
}

.summaryAnswerRow {
  display:flex;
  flex-wrap: wrap;
  margin-top:0;
  margin-bottom: 50px;
  margin-left: 5%;

}
.summaryAnswer {
  background-color: rgba(240, 248, 255, 0.527);
  color:black;
  font-size: 5vw;
  margin: 0 5px 0 0;
  padding:7px 15px;
  border-radius: 10px;
}

.answeredCorrectly {
  background-color: #3cff00c7;
}
.answeredIncorrectly {
  background-color: rgb(235, 57, 34);
}

.summaryComponent {
  color:black;
  font-size: 5vw;
  margin: 0 35px 0 0;
  width:auto;
  padding:7px 15px;
  border-radius: 10px;
}

::placeholder {
  text-align: center;
  color:white;
  font-size: 5vh;
}
#timer-container {
  text-align: center;
  margin: 0 40% 0 40%;
  color:white;
  font-size: 8vh;
  font-weight: bold;
}

#timer {
  margin: 6vh 0;
}

#radical-container {
  margin: 0px 30% 0 30%;
  text-align: center;
}
#currRadical {
  color: rgb(247, 247, 247);
  font-size: 15vh;
  margin: 0px 0 0 0;
}
#answer {
  margin-top: 5%;
  margin-right: 30%;
  width: 40%;
  margin-left: 30%;
  border-radius: 2vh;
  height: 7vh;
  text-align: center;
  border: none;
  background-color:rgba(255, 255, 255, 0.308);
  color: white;
  font-size: 5vh;
}

#result {
  color:white;
  text-align: center;
  font-size: 80px;
  margin-top: 30px;
}

#summaryButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color:black;
}
#summaryButtonContainer button {
  padding:25px;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  font-weight: bold;
  margin-right:20px;
}
#retry {
  background-color: rgb(255, 255, 255);
  border: none;
}

#changeDiff {
  border: solid white;
  background-color: rgb(0, 0, 0);
  color:white;
}
#progressBarContainer {
  margin: 0 20% 20px 20%;
  background-color: #1e1d1e;
  border: 2px solid white;
  border-radius: 3px;
  height:3vh;
}

#progressBar {
  background-color: white;
  width:0%;
  transition-property: width;
  transition-duration: 400ms;
  height:100%;
}

#answerHeaderContainer {
  text-align: center;
}
#answerHeader{
  color:white;
  font-weight: bold;
  font-size:50px;
  font-family: Arial, Helvetica, sans-serif;
}
#summaryAnswerContainer {
  display: flex;
  flex-direction: column;
}

#heartContainer {
  color:white;
  float: right;
  position:absolute;
  right: 17%;
  top: 13%;
}

#heartContainer i {
  font-size: 7vh;
  padding-right:1vh;
}

#responseContainer {
  display: flex;
  position: absolute;
  flex-direction: column;
  left: 20%;
  top: 10%;
}

.responseSquare {
  width: 12vh;
  height: 12vh;
  background-color: gray;
  margin: 1vh;
  border-radius: 4px;
  color:white;
  text-align: center;
  font-size:9vh;

}

.acceptedResponse {
  background-color: green;

}

#bannedContainer {
  display: flex;
  margin:0% 0% 0% 10%;
  flex-wrap: wrap;
  min-height: 20vh;
  border-radius: 7px;
  border: solid white 2px;
  width: 80%;
  background-color: #312f31;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.717);
}

.bannedAnswer {
  background-color: rgba(240, 248, 255, 0.527);
  color:black;
  font-size: 6vh;
  height:7%;
  margin: 2.5px 2.5px 2.5px 2.5px;
  padding:5px 10px;
  border-radius: 7px;
}

#bannedAnswerHeader {
  margin: 0 0 0 10%;
  font-size: 5vh;
  color:white;

}